/*@import "~bootstrap/scss/bootstrap";
*/
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~datatables/media/css/jquery.dataTables.css';
@import 'color.scss';
@import 'table.scss';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css';
@import 'mui.min.css';
@import 'Chart.min.css';
@import "../plugins/animation/css/animate.min.css";
@import 'style.css';
$green:#65BA99;
$green-dark:#59A386;
$size:50px;
$f-size:14px;
$primary-color: #1c1d1d;

td.action {
  width:30px;
}

.btn {
  padding: 5px;
}



.navbar-brand {
  background: #5c6bc0  ;
}

.b-brand .b-title {
  margin-left: 10px;
  font-weight: 100;
  color: #fff;
  font-size: 18px;
}