{% extends envTemplate %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if label == 'notice' %}
                        <div class="alert alert-info" role="alert">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if label == 'danger' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-11">
                            {% block cardheader %} {% endblock %}
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <a href="{{ previousUrl }}"  title="Page précédente">
                                <i class="fa fa-reply grey-text float-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% block cardbody %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}