{% extends envTemplate %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card white-text text-darken-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-11">
                            {% block cardheader %} {% endblock %}
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <a href="{{ previousUrl }}"  title="Page précédente">
                                <i class="fa fa-reply grey-text float-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% block cardbody %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}