<div class="card">
    <div class="card-header">
        <h5>{% if cardTitle is defined %} {{ cardTitle}}  {% endif %}</h5>
    </div>
    <div class="card-body">
        {% if form is defined %}
            {% if form is not empty %} {{ include('@manager/form.recherche.html.twig') }}{% endif %}
        {% endif %}
        {{ include('@ihm/Table/' ~ tableType) }}
    </div>
</div>